*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "source-sans-pro", sans-serif;
}

.portal{
    display: flex;
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 107px;
    height: 100vh;
    padding: 0 1.7rem;
    color: white;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(0, 0, 0, 0.489);
}

.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}

.logo{
    height: 80px;
    padding: 16px;
}

.menu{
    height:88vh;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    padding: .8rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active{
    background: rgba(77, 184, 231, 0.798);
}

.menu a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span{
    overflow: hidden;
}

.menu a i{
    font-size: 1.2rem;
}

.log-out{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
