*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "source-sans-pro", sans-serif;
}

/*-------------------------------*/
/*Menu section*/

.portal{
    display: flex;
    /*justify-content: center;  height: auto;*/
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    align-self: flex-start;
    width: 80px;
    height: 100vh;
    padding: 0 .8rem;
    color: white;
    overflow: hidden;
    transition: all 0.15s linear;
    background: rgba(0, 0, 0, 0.65);
}

.sidebar:hover{
    width: 240px;
    transition: 0.15s;
}

.logo{
    height: 80px;
    position: relative;
    left: -15px;
}

.menu{
    height:88vh;
    position: relative;
    list-style: none;
    padding-top: 10px;
}

.menu li{
    padding: .8rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.menu li:hover{
    background: rgba(77, 184, 231, 0.798);
    
}

.menu a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span{
    overflow: hidden;
}

.menu a i{
    font-size: 1.2rem;
}

.log-out{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

/*-------------------------------*/
/*Content section*/
.main-portal{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "header-portal"
    "main-portal";
}

.header-portal{
    background:white;
    color: rgba(0, 0, 0, 0.8);
    grid-area: header-portal;
    text-indent: 30px;
    /*font-style: "garamond-premier-pro", serif;*/
    font-size: 30px;
    position: relative;
    padding-top: 25px;
    font-family: "garamond-premier-pro", serif;
}
.content-portal{
    background: rgba(0, 0, 0, .05);
    grid-area: main-portal;

    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;

    grid-template-areas:
    "i1 i2 i3"
    "i4 i6 i6"
    "i5 i6 i6";
}

.dashboardItem{
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.dashboardItem:nth-child(1){ /*my account card*/
    grid-area: i1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboardItem:nth-child(2){ /*my attendance card*/
    grid-area: i2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboardItem:nth-child(3){ /*my Rank card*/
    grid-area: i3;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.dashboardItem:nth-child(4){ /*my subordinates card*/
    grid-area: i4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboardItem:nth-child(5){ /*my branch card*/
    grid-area: i5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboardItem:nth-child(6){ /*my polls card*/
    grid-area: i6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardHeading{
    color: rgb(0, 183, 255);
    position: relative;
    display: flex;
    align-items: center;
    margin: 15px 15px 0 15px;
    width: 100%;
    padding-left: 25px; 
    font-size: 25px;
}

.signInImage{
    height: 60px;
    width: 60px;
    position: relative;
    top: 20%;
}

.signIn{
    position: relative;
    top: 30%;
    font-size: 20px;
}

@media(max-width: 1000px){
    .content-portal{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 300px);
        gap: 20px;
    
        grid-template-areas:
        "i1 i2"
        "i3 i4"
        "i5 i6";
    }
}

@media(max-width: 850px){
    .content-portal{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 300px);
        gap: 20px;
    
        grid-template-areas:
        "i1"
        "i2"
        "i3"
        "i4"
        "i5"
        "i6";
    }
}

/*------------view subordinates page-----------*/

.main-view-subordinates{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 60px 1fr;
    grid-template-areas: 
    "header-subordinate"
    "search-subordinate"
    "main-subordinate";
}

.header-view-subordinate{
    background:white;
    color: rgba(0, 0, 0, 0.8);
    grid-area: header-subordinate;
    text-indent: 30px;
    /*font-style: "garamond-premier-pro", serif;*/
    font-size: 30px;
    position: relative;
    padding-top: 25px;
    font-family: "garamond-premier-pro", serif;
}

.search-subordinate-container{
    background: rgba(0, 0, 0, .05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-subordinate-box{
    position: relative;
    padding-left: 10px;
    grid-area: search-subordinate;
    color: black;
    background:rgb(255, 255, 255);
    font-family: "source-sans-pro", sans-serif;
    font-size: 20px;
    width: 300px;
    height: 40px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.306);
    border-width: 1px;
    border-radius: 3px;
}

.content-subordinate{
    background: rgba(0, 0, 0, .05);
    grid-area: main-subordinate;
    padding: 20px;
}

.content-subordinate-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    background: white;
    border-radius: 5px;
    height: 100%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.306);
    border-width: 1px;
    font-size: 16px;
}

.viewSubordinatesDynam {
    align-items: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    padding: 10px; 
}

/*------------profile page-----------*/
.main-view-account{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "header-account"
    "user-content";
}

.header-account{
    background:white;
    color: rgba(0, 0, 0, 0.8);
    grid-area: header-account;
    text-indent: 30px;
    font-size: 30px;
    position: relative;
    padding-top: 25px;
    font-family: "garamond-premier-pro", serif;
}

.user-content{
    background: rgba(0, 0, 0, .05);
    grid-area: user-content;
    display: flex;
    padding: 20px;
    gap: 20px;
    position: relative;
}

.user-info-container{
    background:white;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}
.user-extra-info{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "user-standing edit"
        "polls polls";
    gap: 50px;
    width: 100%;
}

.user-standing-container{
    background:white;
    grid-area: user-standing;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.user-poll-container{
    background: white;
    grid-area: polls;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.user-name-container{
    display: flex;
    align-items: start;
    flex-direction: column;
}

.user-contact-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.user-supervisor-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.user-amnesty-days-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profile-edit{
    grid-area: edit;
    display: flex;
    justify-content: end;
}
.profile-edit-button{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: white;
    color: rgb(0, 183, 255);
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    height: 30px;
    width: 80px;
    border-style: solid;
    border-width: 1px;
}

.profile-edit-button:hover{
    transform: translate3d(-1px,-1px,0);
    background-color: rgb(0, 183, 255);
    color: white;
}

.user-name{
    font-size: 35px;
    font-family: "source-sans-pro", sans-serif;    
}
.user-id{
    font-size: 22px;
    color: rgb(0, 183, 255);
}

.user-email{
    font-size: 22px;
    color: rgb(0, 183, 255);
}
.user-branch{
    font-size: 22px;
    color: rgb(0, 183, 255);
}

.user-contact{
    font-size: 35px;
    font-family: "source-sans-pro", sans-serif;    
}

.user-phone-number{
    font-size: 22px;
    color: rgb(0, 183, 255);
}

.user-address{
    font-size: 22px;
    color: rgb(0, 183, 255);
}

.user-supervisor-header{
    font-size: 35px;
    font-family: "source-sans-pro", sans-serif;    
}

.user-supervisor{
    font-size: 22px;
    color: rgb(0, 183, 255);
}

.user-amnesty-days-header{
    font-size: 35px;
    font-family: "source-sans-pro", sans-serif;    
}
.user-amnesty-days{
    font-size: 22px;
    color: rgb(0, 183, 255);
}

.user-organization{
    font-size: 30px;
    font-family: "source-sans-pro", sans-serif;    
}

.user-standing{
    font-size: 22px;
    color: rgb(0, 183, 255);
}

.user-social-score{
    font-size: 22px;
    color: rgb(0, 183, 255);    
}

/*------------view ranks page-----------*/
.main-view-rank{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "header-rank"
    "main-rank";
}

.header-view-rank{
    background:white;
    color: rgba(0, 0, 0, 0.8);
    grid-area: header-rank;
    text-indent: 30px;
    /*font-style: "garamond-premier-pro", serif;*/
    font-size: 30px;
    position: relative;
    padding-top: 25px;
    font-family: "garamond-premier-pro", serif;
}

.content-rank{
    background: rgba(0, 0, 0, .05);
    grid-area: main-rank;
    padding: 20px;
}

.content-rank-container{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    background: white;
    border-radius: 5px;
    height: 100%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.306);
    border-width: 1px;
    font-size: 16px;
}

.viewRankDynam {
    align-items: center; 
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 10px; 
}

.user-date{
    font-size: 22px;
    color: rgb(0, 183, 255);    
}

/*------------view Branch Page-----------*/
.main-view-branch{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "header-branch"
    "main-branch";
}

.header-view-branch{
    background:white;
    color: rgba(0, 0, 0, 0.8);
    grid-area: header-branch;
    text-indent: 30px;
    /*font-style: "garamond-premier-pro", serif;*/
    font-size: 30px;
    position: relative;
    padding-top: 25px;
    font-family: "garamond-premier-pro", serif;
}

.content-branch{
    background: rgba(0, 0, 0, .05);
    grid-area: main-branch;
    padding: 20px;
}

.content-branch-container{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    background: white;
    border-radius: 5px;
    height: 100%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.306);
    border-width: 1px;
    font-size: 16px;
}

/*------------view higher Branch Page-----------*/
.main-view-higher-branch{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "header-higher-branch"
    "main-higher-branch";
}

.header-view-higher-branch{
    background:white;
    color: rgba(0, 0, 0, 0.8);
    grid-area: header-higher-branch;
    text-indent: 30px;
    /*font-style: "garamond-premier-pro", serif;*/
    font-size: 30px;
    position: relative;
    padding-top: 25px;
    font-family: "garamond-premier-pro", serif;
}

.content-higher-branch{
    background: rgba(0, 0, 0, .05);
    display: flex;
    grid-area: main-higher-branch;
    padding: 20px;
    flex-direction: column;
}

.content-location-branch-container{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    text-indent: 10px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
}

.content-location-branch-subcontainer{
    display: flex;
    padding-top: 5px;
    text-indent: 30px;
    flex-direction: column;
    color: rgb(0, 183, 255);
}

.search-branch-members-container{
    padding-right: 10px;
    padding-left: 10px; 
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-branch-members-box{
    position: relative;
    padding-left: 10px;
    grid-area: search-subordinate;
    color: black;
    background:rgb(255, 255, 255);
    font-family: "source-sans-pro", sans-serif;
    font-size: 20px;
    width: 300px;
    height: 40px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.306);
    border-width: 1px;
    border-radius: 3px;
}

/*  ---------- myAttendance Page Start---------- */

.myAttendance-body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.header-myAttendance{
    font-family: "garamond-premier-pro", serif;
    font-size: 30px;
    text-indent: 30px;
    height: 80px;
    padding-top: 30px;


}

.body-myAttendance{
    background: rgba(0, 0, 0, .05);
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

}

.body-calender{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.day-of-week{

}

.boxes-myAttendance{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.submitButton-myAttendance{
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mySubmitButton {
    padding: 10px 25px; 
    font-size: 16px; 
    background-color: rgb(0, 183, 255);
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .mySubmitButton:hover {
    background-color: rgba(255, 89, 0, 0.798); 
  }
/*  ---------- myAttendance Page end---------- */