*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "source-sans-pro", sans-serif;
}

.menu {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    height: 10vh;
}

body {
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 15px;
    margin: 3vh;
    border-radius: 8px;
    transition: all 0.15s ease-in-out;
}

.menu li:hover {
    background: rgba(77, 184, 231, 0.798);
}

.menu a {
    color: white;
    font-size: 15px;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    gap: 10px; 
    align-items: center;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1.2rem;
}

.logo-icon {
    display: flex;
    align-items: center; 
    height: 15vh;
    margin-right: auto; 
}


.signup-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center; 
    background: rgba(0, 0, 0, 0.25);
    text-align: center; 
    height: 90vh;
}

.newUserInputs {
    background: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 12px;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.65); 
  }
  
  .signin-link{
    text-align: center; 
    margin-top: 2vh;
  }

  .createAccountBox {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px; 
    font-size: 16px;
    color: white;
    background-color: rgba(77, 184, 231, 0.798);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s ease;
    text-align: center; 
}

.createAccountBox i {
    margin-right: 10px; 
}

.createAccountBox:hover {
    background-color: rgba(255, 89, 0, 0.798);
}

.password-container {
    position: relative;
    display: inline-block;
  }
  
.fa-eye-slash {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

.fa-eye{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

.confirmPassword-container{
    position: relative;
    display: inline-block;
}

.namebox {
    width: 70vw;
    position: relative;
  }

.login-container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.login-box {
    height: 90vh;
    display: flex;
    width: 70vw;
    align-items: center;
    flex-direction: column;
}

.login-top{
    margin-top: 15vh;
}

.login-header{
    font-size: 24px;
    padding: 5vh;
}

.passwordBox,
.emailBox {
  padding: 15px; 
  width: 25vw;
  background-color: aliceblue;
  border-radius: 8px; 
  margin-bottom: 15px; 
  border: 1px solid #ccc; 
  height: 2vh;
}

.line {
    border-top: 1px solid #cccccc; 
    margin-bottom: 15px; 
    width: 30vw;
}

.login-button-box{
    text-align: center;
}

.loginBox{
    width: 15vw;
    height: 4.5vh;
    border-radius: 8px; 
    border: 1px solid #ccc; 
}

.loginBox:hover {
    background-color: rgba(77, 184, 231, 0.798);
    cursor: pointer; 
  }

.new-user-box {
    display: flex;
    padding: 20px;
    width: 30vw;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background-color: gainsboro;
}

.new-user-box-header {
 margin-top: 20vh;
 font-size: 22px;
}

.new-user-box-p{
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.forgotPassword-link{
    text-align: center;
    margin-top:2vh;
    font-size: 12px;
}

.signup-from-login{
    background-color: aliceblue;
    margin-top: 2vh;
    text-align: center;
    height: 6vh;
    width: 15vw;
    border-radius: 8px; 
    border: 1px solid #ccc; 
}

.signup-from-login:hover {
    background-color: rgba(77, 184, 231, 0.798);
    cursor: pointer; 
  }

.forgotPassword-container{
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
}

.forgotPassword-icon{
    margin-top: 15vh;
}

.forgotPassword-icon i{
    font-size: 10vh;
}

.forgotPassword-header{
    margin-top: 6vh;
    font-size: 20px;
}

.forgotPassword-subheader{
    text-align: center;
    margin-top: 2vh;
    font-size: 16px;
}

.forgotPassword-input{
    margin-top: 4vh;
    height: 4vh;
    width: 25vw;
    text-align: center;
    border: 1px solid #ccc;
}

.forgotPassword-input input{
    height: 3.5vh;
    width: 24vw;
}

.forgotPasswordButton{
    background-color: aliceblue;
    margin-top: 2vh;
    text-align: center;
    height: 6vh;
    width: 15vw;
    border-radius: 8px; 
    border: 1px solid #ccc; 
}

.forgotPasswordButton:hover{
    background-color: rgba(77, 184, 231, 0.798);
    cursor: pointer; 
}

.index-container{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.index-subcontainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 50vw;
}

.index-header{
    margin-top: 20vh;
    margin-left: 5vw;
    text-align: center;
}

.index-subheader{
    text-align: center;
    margin-left: 5vw;
    margin-top: 3vh;
}

.index-login{
    text-align: center;
    margin-left: 5vw;
    margin-top: 5vh;
    background-color: aliceblue;
    text-align: center;
    height: 6vh;
    width: 15vw;
    border-radius: 8px; 
    border: 1px solid #ccc; 
}

.index-login:hover{
    background-color: rgba(77, 184, 231, 0.798);
    cursor: pointer; 
}

.index-image{
    height: 90vh;
    width: 50vw;
}
















  

  

