body {
    margin: 0; /* Remove default margin */
    height: 100vh; /* Make sure the body covers the full viewport height */
    background-image: url('images/homepageIscariot.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 

    font-family: Arial, sans-serif;

}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    padding: 1px 0;
    margin-right: 50px;
}

.nav-item {
    margin: 0 5px;
    text-decoration: none;
    color: white;
    padding: 5px 20px ;
    position: relative;
    font-size: 8px;
    top: 20px;
    right: 30px;

    transition: transform 0.3s;
}

.nav-item:hover {
    transform: translateY(-2px);
}

.login {
        
    text-decoration:none;
    color: white;
    padding: 5px 10px ;
    font-size: 8px;
    position: absolute;
    top: 20px;
    right: 20px;

    border: 1px solid white;
    border-radius: 25px;

    transition: transform 0.3s, background-color 0.3s, color 0.3s;

}

.login:hover {
    transform: scale(1.02);
    background-color:white;
    color:black;
}

.navbar-logo {
    height: 75px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.navbar-logo img {
    height: 100%;  /* Will adjust to the height set in .navbar-logo */
    width: auto;   /* Maintain aspect ratio */
}

h1{
    color:white;
    position: relative;
    top: 50px;
    left: 65px;

    font-size: 20px;

    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    font-style: normal;

    width: 500px;

    letter-spacing: 1px;
}


h2{
    color: white;
    position: relative;
    top: 40px;
    left: 65px;

    font-size: 8px;

    font-family: "source-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;

    width: 400px;

}

.learn-more-btn {
    position: relative;
    top: 65px;
    left: 80px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 13px;
}

.aboutHeading{
    color:white;
    position: relative;
    top: 40px;
    left: 65px;

    font-size: 20px;

    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    font-style: normal;

    width: 500px;

    letter-spacing: 1px;

}
.aboutParagraph {
    color: white;
    
    position: relative;
    top: 30px;
    left: 75px;

    font-size: 8px;

    font-family: "source-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;

    width: 400px;

}

.loginLogo{
    height: 185px;
    position: absolute;
    top: -10px;
    left: 200px;
    
}

.email{

    color: white;
    font-family: "source-sans-pro", sans-serif;
    font-size: 8px;
    position: absolute;
    top: 161px;
    left: 214px;
}

.emailBox{

    color: black;
    font-family: "source-sans-pro", sans-serif;
    font-size: 7px;
    position: absolute;
    top: 160px;
    left: 239px;
    width: 100px;
    height: 7px;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;

}

.emailBox:focus{
    outline: none;
}

.password{
    color: white;
    font-family: "source-sans-pro", sans-serif;
    font-size: 8px;
    position: absolute;
    top: 181px;
    left: 200px;
}

.passwordBox{

    color: black;
    font-family: "source-sans-pro", sans-serif;
    font-size: 7px;
    position: absolute;
    top: 180px;
    left: 239px;
    width: 100px;
    height: 7px;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
    
}

.passwordBox:focus{
    outline: none;

}

.loginBox{

    color: black;
    font-family: "source-sans-pro", sans-serif;
    font-size: 8px;
    position: absolute;
    top: 200px;
    left: 267px;
    width: 50px;
    height: 18px;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.loginBox:hover{
    transform: translate3d(-1px,-1px,0);
    background-color: black;
    color: white;
}

.signup-link{
    font-size: 6px;
    color: white;
    position: relative;
    top: 215px;
    left: 255px;
    
}
.signUp{

    color: lightblue;
}


