body {
    margin: 0; /* Remove default margin */
    height: 100vh; /* Make sure the body covers the full viewport height */
    background-image: url('images/homepageIscariot.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 

    font-family: Arial, sans-serif;

}
.portal { 
    background-image: url('images/portalBG.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-blend-mode: lighten;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px
}

.nav-item {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 30px;
    top: 18px;
    right: 100px;
    padding-left: 100px;

    transition: transform 0.3s;
}

.nav-item:hover {
    transform: translateY(-4px);
}

.login {
        
    text-decoration:none;
    color: white;
    font-size: 30px;
    position: relative;
    top: 20px;
    right: 30px;

    align-items: center;
    justify-content: center;
    padding-left: 23px;
    padding-top: 15px;

    border: 1px solid white;
    border-radius: 25px;
    height: 50px;
    width: 120px;

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
 
.login:hover {
    transform: scale(1.05);
    background-color:white;
    color:black;
} 

.navbar-logo {
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.navbar-logo img {
    height: 100%;  /* Will adjust to the height set in .navbar-logo */
    width: auto;   /* Maintain aspect ratio */
}

h1{
    color:white;
    position: relative;
    top: 125px;
    left: 150px;

    font-size: 45px;

    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    font-style: normal;

    width: 1000px;

    letter-spacing: 1px;
}


h2{
    color: white;
    position: relative;
    top: 100px;
    left: 150px;

    font-size: 30px;

    font-family: "source-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;

    width: 1000px;

}

.learn-more-btn {
    position: relative;
    top: 100px;
    left: 200px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 37px;

    transition: transform 0.3s;

}

.learn-more-btn:hover{

    transform: scale(1.05);
}

.aboutHeading{
    color:white;
    position: relative;
    top: 65px;
    left: 150px;

    font-size: 35px;

    font-family: "garamond-premier-pro", serif;
    font-weight: 400;
    font-style: normal;

    width: 500px;

    letter-spacing: 1px;

}
.aboutParagraph {
    color: white;
    
    position: relative;
    top: 60px;
    left: 150px;

    font-size: 28px;

    font-family: "source-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;

    width: 1500px;

}

.loginLogo{
    height: 550px;
    position: absolute;
    top: -65px;
    left: 613px;
    
}

.email{

    color: white;
    font-family: "source-sans-pro", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 445px;
    left: 705px;
}

.emailBox{

    color: black;
    font-family: "source-sans-pro", sans-serif;
    font-size: 17px;
    position: absolute;
    top: 445px;
    left: 763px;
    width: 250px;
    height: 20px;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;

}

.emailBox:focus{
    outline: none;
}

.password{
    color: white;
    font-family: "source-sans-pro", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 495px;
    left: 670px;
}

.passwordBox{

    color: black;
    font-family: "source-sans-pro", sans-serif;
    font-size: 17px;
    position: absolute;
    top: 495px;
    left: 763px;
    width: 250px;
    height: 20px;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
    
}

.passwordBox:focus{
    outline: none;

}

.loginBox{

    color: black;
    font-family: "source-sans-pro", sans-serif;
    font-size: 12px;
    position: absolute;
    top: 540px;
    left: 856px;
    right: 856px;
    width: 50px;
    height: 30px;
    width:  65px;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.loginBox:hover{
    transform: translate3d(-1px,-1px,0);
    background-color: black;
    color: white;
}

.signup-link{
    font-size: 12px;
    color: white;
    position: relative;
    top: 410px;
    left: 815px;
    width: 150px
    
}
.signUp{
    color: lightblue;
    width: 50px;
}

.profile-icon {
    width: 70px; /* Set the desired width for your profile picture */
    height: 70px; /* Set the desired height for your profile picture */
    border-radius: 50%; /* Create a circular profile picture */
    overflow: hidden; /* Hide any overflow beyond the circular shape */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
    position: relative;
    left: 1692px;
    top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-image {
    width: 100%; /* Make the image width 100% of the container width */
    height: 100%; /* Make the image height 100% of the container height */
    object-fit: cover; /* Maintain the image aspect ratio and cover the entire container */
}

.dashboard-header{
    position: relative;
    color: white;
    font-size: 20px;
}