*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "source-sans-pro", sans-serif;
}

.menu {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 100px;
}

.logo-link {
    display: inline-block; 
    transition: transform 0.15; 
  }
  
  .logo-link:hover {
    transform: scale(1.1); 
  }
  

body {
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 15px;
    margin: 3vh;
    border-radius: 8px;
    transition: all 0.15s ease-in-out;
}

.menu li:hover {
    background: rgba(77, 184, 231, 0.798);
}

.menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    gap: 10px; 
    align-items: center;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1.2rem;
}

.logo-icon {
    display: flex;
    align-items: center; 
    height: 120px;
    position: relative;
    left: -10px;
}

.signup-image{
    height: 35vh;
    width: 35vw;
}

.signup-list{
    font-size: max(15px, min(1.6vw, 20px));
}

.signup-list ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4vh;
    list-style: none;

}

.signup-list li{
    margin-top: 2vh;
}

.signup-list i{
    margin-right: 4px;
}

.signup-info{
    align-items: center;
    display:flex;
    flex-direction: column;

}

.signup-header{
    font-size: 1.5vw;
}


.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    text-align: center; 
    height: 100%;
}

.newUserInputs {
    width: 30vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    gap: 1vh;
    padding: 4vh;
  }
  

.newUserInputs ul{
    list-style: none; 
  }

.newUserInputs li{
    margin-bottom: 2vh;
    font-size: max(15px, min(1.8vw, 20px));
}

  .newUserInputs input{
    border: 1px solid rgba(77, 184, 231, 0.798); 
    border-radius: 10px; 
    width: max(200px, min(25vw, 350px));
    height: max(15px, min(1.8vh, 25px));
    padding: 15px;
    font-size: max(15px, min(1.8vw, 20px));
  }
  
  .signin-link{
    text-align: center; 
    margin-top: 1vh;
    font-size: max(12px, min(1.4vw, 17px));
  }

  .signIn{
    color:rgb(0, 179, 255);
  }

  .createAccountBox {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 2vh;
    padding: 15px 20px; 
    font-size: 2.5vh;
    color: white;
    background-color: rgba(77, 184, 231, 0.798);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.15s ease;
    text-align: center; 
    height: 7vh;
    width: 17vw;
}

.createAccountBox i {
    margin-right: 10px; 
}

.createAccountBox:hover {
    background-color: rgba(255, 89, 0, 0.798);
}

.password-container {
    position: relative;
    display: inline-block;
  }
  
.fa-eye-slash {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

.fa-eye{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

.confirmPassword-container{
    position: relative;
    display: inline-block;
}

.login-container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.login-box {
    height: 90vh;
    display: flex;
    width: 70vw;
    align-items: center;
    flex-direction: column;
}

.login-top{
    margin-top: 15vh;
}

.login-header{
    font-size: 20px;
    text-align: center;
    padding: 2vh 2vw;
}

.passwordBox,
.emailBox {
    background-color: aliceblue;
    border-radius: 8px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    width: max(200px, min(25vw, 300px));
    height: 10px;
    padding: 15px;
    font-size: 18px;
}

.line {
    border-top: 1px solid #cccccc; 
    margin-bottom: 15px; 
    width: 350px;
}

.login-button-box{
    text-align: center;
}

.loginBox{
    width: auto;
    text-align: center;
    padding: 15px;
    border-radius: 8px; 
    border: 1px solid #ccc; 
    font-size: 18px;
}

.loginBox:hover {
    background-color: rgba(77, 184, 231, 0.798);
    cursor: pointer; 
  }

.new-user-box {
    display: flex;
    width: 30vw;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background-color: rgba(0,0,0,.05);
}

.new-user-box-header {
    margin-top: 15vh;
    font-size: 20px;
    text-align: center;
}

.new-user-box-p{
    padding: 20px 40px;
    text-align: center;
    font-size: 16px;
}

.forgotPassword-link{
    text-align: center;
    margin-top:2.2vh;
    font-size: max(12px, min(1.4vw, 17px));
}

.forgotPassword{
    color:rgb(0, 179, 255);
}

.signup-from-login{
    background-color: aliceblue;
    margin-top: 2vh;
    text-align: center;
    padding: 15px;
    border-radius: 8px; 
    border: 1px solid #ccc; 
    font-size: 18px;
}

.signup-from-login:hover {
    background-color: rgba(77, 184, 231, 0.798);
    cursor: pointer; 
  }

.forgotPassword-container{
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
}

.forgotPassword-icon{
    margin-top: 15vh;
}

.forgotPassword-icon i{
    font-size: 10vh;
}

.forgotPassword-header{
    margin-top: 6vh;
    font-size: 20px;
}

.forgotPassword-subheader{
    text-align: center;
    margin-top: 2vh;
    font-size: 1.5bvw;
}

.forgotPassword-input{
    margin-top: 4vh;
    height: 4vh;
    width: 25vw;
    text-align: center;
    border: 1px solid #ccc;
}

.forgotPassword-input input{
    height: 3.5vh;
    width: 24vw;
}

.forgotPasswordBox{
    font-size: 1.8vw;
    height: 3vw;
}

.forgotPasswordButton{
    background-color: aliceblue;
    margin-top: 2vh;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px; 
    border: 1px solid #ccc; 
}

.forgotPasswordButton:hover{
    background-color: rgba(77, 184, 231, 0.798);
    cursor: pointer; 
}

.login-return{
    margin-top: 2vh;
}

.return-to-login{
    color:rgb(0, 179, 255);
}

.index-page{
    display: flex;
    flex-direction: column;
}

.web-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 25px;
    background-color: #333;
    color: white;
    height: 100px;
}

.web-logo-title{
    display: flex;
    align-items: center;
}

.logo-image{
    height: 120px;
    position: relative; 
    left: -20px;
}

.index-signin{
    text-align: center;
    text-align: center;
    background: transparent;
    color: white;
    font-size: 15px;
    height: 50px;
    width: 80px;
    border-radius: 8px; 
    border: 1px solid white; 
}

.index-signin:hover{
    background:rgb(55, 181, 167);
    cursor: pointer; 
}

/*-----------start index container-----------------*/

.index-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 60px;
    gap: 20px;
    height: 90vh;
}

.signin-container{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 20px;
    padding-top: 30px;
}

.have-account{
    color:rgb(0, 190, 168);
}

.index-main{
    display: flex;
    align-items: center;
}

.index-subcontainer{
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    width: 50vw;
}

.index-button-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.index-header{
    text-align: center;
    font-size: 22px;
}

.index-subheader{
    text-align: center;
    font-size: 20px;
}
.topic-description{
    font-size: 20px
}
.index-login{
    text-align: center;
    background-color: aliceblue;
    text-align: center;
    height: 50px;
    width: 15vw;
    border-radius: 8px; 
    border: 1px solid #ccc; 
    font-size: 18px;
}

.index-login:hover{
    background-color: rgb(55, 181, 167);
    cursor: pointer; 
}

.index-image-container{
    display: flex;
    justify-content: center;
}

.index-image{
    height: 800px;
    width: 450px;
}
/*-----------end index container-----------------*/


/*-----------start about container-----------------*/
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: rgb(199, 255, 248);
    padding: 60px;
}

.about-header{
    text-align: center;
    width: 550px;
    font-size: 22px;
}

.about-subcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding: 40px 25px;
    
}

.about-topcontainer,
.about-bottomcontainer{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.about-topsubcontainer{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-bottomsubcontainer{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}   

/*-----------end about container-----------------*/

/*-----------start member container-----------------*/

.about-members-container{
    display: flex;
    align-items: center;
    padding: 60px;
    gap: 5vw;

}


.member-container-header{
    text-align: center;
    width: 200px;
    font-size: 25px;
    color:rgb(237, 111, 97);

}

.member-description-container{
    display: flex;
    flex-direction: column;
}

.member-intro-container{
    display: flex;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.member-header{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.member-name{
    font-size: 25px;
}

.member-email{
    font-size: 20px;
    font-weight: 500;
    color:rgb(237, 111, 97);
}

.member-intro-paragraph{
    font-size: 20px;
}

.divider {
    aspect-ratio: 960/300;
    margin-top: -25%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}


.layer1 {
    background-image: url('./images/layered-waves-haikei.svg');
}

.wave {
    aspect-ratio: 960/300;
    margin-bottom: -25%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.layer2 {
    background-image: url('./images/wave-haikei.svg');
}

